@media (max-width: 1025px) {
    .side_bar {
        display: none;
    }

    .contents {
        width: 100%;
    }

    .skill_wrapper {
        width: 100%;
    }
    .photo_wrapper {
        margin: 0 auto;
        margin-bottom: 80px;
    }
    .photos img {
        max-width: 330px;
    } 

    footer {
        margin: 0 auto;
    }
}

@media (max-width: 600px) {
    header .logo {
        font-size: 32px;
    }
    .profile_wrapper {
        width: 100%;
    }
    .profile_text {
        width: 80%;
        font-size: 16px;
    }
    .profile_text img {
        width: 250px;
        height: 250px;
    }

    .skill_wrapper {
        width: 100%;
    }
    .sample {
        display: none;
    }
    .sample_1 {
        display: block;
    }
    table {
        width: 90%;
    }
    table td {
        text-align: left;
    }
    table span {
        margin-left: 90px;
    }

    .photo_wrapper {
        width: 100%;
    }
    .photos img {
        max-width: 550px;
        width: 100%;
        height: 350px;
        object-fit: cover;
    }

    .company_wrapper {
        width: 100%;
    }
    .company_contents {
        width: 100%;
        flex-direction: column;
    }
    .address {
        text-align: left;
        margin: 0 auto;
        margin-bottom: 80px;
    }
    .map {
        margin: 0 auto;
        width: 80%;
        padding-bottom: 80%;
    }

    footer {
        width: 100%;
    }
    footer .about p {
        font-size: 16px;
        text-align: left;
    }
}

@media (min-width: 1025px) {
    header {
        display: none;
    }

    .sample_1 {
        display: none;
    }
}
